.logo {
	width: 150px;
}

.logo img {
	width: 100%;
}

h1 {
	color: red;
}

.first {
	background: blue;
	color: white;
	width: 100px;
}

.second {
	margin-top: 100px;
}

.color_text {
	color: red;
}

.h2_color {
	background: green;
	color: white;
	padding: 5px;
}

.padding {
	padding: 45px;
}

.margin {
	margin-left: 100px;
}

.big_list {
	font-size: 30px;
}


.border {
	border: 1px solid black;
}
