body {
	font-family: 'Ubuntu', sans-serif;
	color: #201b2d;
	font-size: 15px;
	letter-spacing: 20;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: rgba(78,192,254,1);
	background: -moz-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(to right, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 60px;
	padding-bottom: 70px;
}

.logo {
	width: 100px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mood {
	width: 562 px;
}

.main_title {
	font-weight: 700;
	color: #fff;
	font-size: 37px;
}

.main_title span {
	font-size: 59px;
}

.text {
	width: 414px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 44px;
}

.desktop_pic {
	width: 640px;
	margin-top: 10px;
}

.btn_dream {
	font-family: 'Montserrat', sans-serif;
	color: #2e2a1b;
	background: #ffd429;
	display: block;
	width: 220px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn_dream:hover {
	background: #fecb00;
}

.future {
	padding-top: 105px;
	padding-bottom: 118px;
}

.section_title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.preferences {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}

.preference {
	width: 300px;
	text-align: center;
}

.pref_title {
	margin-top: 20px;
}

.pref_text {
line-height: 1.4;
margin-top: 15px;
}

.order {
	background: #ecf3f8;
	padding-top: 105px;
	padding-bottom: 100px;
}

.form {
	max-width: 340px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.input {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	width: 100%;
	padding: 14px 0 14px 24px;
	margin-bottom: 15px;
	display: block;
	border: 1px solid #bbb;
	border-radius: 3px;
}

.btn_move {
	border: 0;
	width: 340px;
	cursor: pointer;
}

.footer {
	background: #164d7a;
}

.credits {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;
	padding-top: 62px;
	padding-bottom: 60px;
	margin: 0;
}
